.product-variants .color-product span.color-product-image {
  cursor: pointer;
  padding: 3px;
  display: inline-block;
  overflow: hidden;
}
.product-variants .color-product span.color-product-image img {
  transition: 0.3s;
}
.product-variants .color-product span.color-product-image:hover img {
  transform: scale(1.1);
}
.product-variants .color-product span.color-product-image.active {
  border: 1px solid #222;
  border-radius: 3px;
}

.login-form {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.cursor-pointer {
  cursor: pointer;
}

label.error {
  color: red;
  margin-bottom: 0;
  font-size: 0.75rem;
}

.toast-item-wrapper p {
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #838383;
}

::-moz-selection {
  background: #fed700;
}

::selection {
  background: #fed700;
}

.minicart {
  z-index: 9999;
}
.minicart .minicart-product-list {
  overflow-y: scroll;
  max-height: 200px;
}
.minicart .minicart-product-list::-webkit-scrollbar {
  display: none;
}

.btn__filter {
  display: none;
}

.sidebar-categores-box.active {
  transform: translateX(0);
}

@media (max-width: 1023.99px) {
  .sidebar-categores-box {
    position: fixed;
    inset: 0 auto 0 0;
    transform: translateX(-100%);
    z-index: 5;
    height: 100vh;
    overflow-y: scroll;
    transition: 0.5s;
    z-index: 999999;
    width: 300px;
  }
  .sidebar-categores-box::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 1023.99px) and (max-width: 400px) {
  .sidebar-categores-box {
    width: 100%;
    inset: 0;
  }
}
@media (max-width: 1023.99px) {
  .btn__filter {
    display: block;
    position: fixed;
    top: 20vh;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 10px;
    z-index: 9999999;
    right: 5vw;
    transition: 0.3s;
  }
  .btn__filter:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
}
.nice-select.wide.open .list {
  max-height: 225px;
  overflow-y: scroll;
}
.nice-select.wide.open .list::-webkit-scrollbar {
  display: none;
}

.toast-item-wrapper .toast-icon {
  font-size: 1.3rem !important;
}
.toast-item-wrapper .toast-icon, .toast-item-wrapper .toast-close {
  color: #fff;
}

.toast-item-wrapper.success {
  background-color: #00af66;
  border: 1px solid #00af66;
}

.toast-item-wrapper.warning {
  background-color: #ffd645;
  border: 1px solid #f0c948;
}

.jconfirm.jconfirm-my-theme .jconfirm-bg {
  background-color: rgba(0, 0, 0, 0.2);
}
.jconfirm.jconfirm-my-theme .jconfirm-box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-top: 5px solid #f1c616;
}
.jconfirm.jconfirm-my-theme .jconfirm-box div.jconfirm-closeIcon {
  color: #000;
}
.jconfirm.jconfirm-my-theme .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c {
  color: #f1c616;
  margin-right: 5px;
}
.jconfirm.jconfirm-my-theme .jconfirm-box div.jconfirm-title-c .jconfirm-title {
  font-weight: 400;
}
.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons {
  text-align: end;
}/*# sourceMappingURL=custom.css.map */