.product-variants {
  .color-product {
    span.color-product-image {
      cursor: pointer;
      padding: 3px;
      display: inline-block;
      overflow: hidden;
      img {
        transition: 0.3s;
      }
      &:hover img {
        transform: scale(1.1);
      }
    }
    span.color-product-image.active {
      border: 1px solid #222;
      border-radius: 3px;
    }
  }
}

.login-form {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.15);
}

.cursor-pointer {
  cursor: pointer;
}

label.error {
  color: red;
  margin-bottom: 0;
  font-size: 0.75rem;
}

.toast-item-wrapper p {
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #838383;
}
::selection {
    background: #fed700;
}
